 $light-color: #747474;
 $text-light-color: #fff;
 $text-dark-color: #333;
 $bg-light-color: #fdfdfd;
 $color-light: #ececec;
 $color-dark: #c5c5c5;
 $accordion-bg-dark: #222222;
 $accordion-bg-light: #5c5c5c;
 $modal-header: #ff0000;
 $list-padding: 20px;